@model hrms.Models.Attendance
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Attendance Record</h2>

<p>Are you sure you want to delete this record?</p>

<table class="table">
    <tr>
        <th>Employee ID</th>
        <td>@Model.EmployeeId</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>@Model.Date</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@Model.Status</td>
    </tr>
</table>

@using (Html.BeginForm("Delete", "Attendance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.AttendanceId" />
    <button type="submit" class="btn btn-danger">Delete</button>

}

