@model hrms.Models.Payroll

@{
    ViewBag.Title = "Edit";
}


<h2>Edit Payroll</h2>

@using (Html.BeginForm("Edit", "Payroll", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PayrollId) <!-- Ensure PayrollId is hidden for form submission -->

    <table class="table">
        <tr>
            <th>@Html.LabelFor(model => model.EmployeeId)</th>
            <td>
                @Html.DropDownList("EmployeeId", (SelectList)ViewBag.Employees, "-- Select Employee --", new { @class = "form-control" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.BasicSalary)</th>
            <td>
                @Html.TextBoxFor(model => model.BasicSalary, new { @class = "form-control", type = "number", step = "0.01" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.Allowances)</th>
            <td>
                @Html.TextBoxFor(model => model.Allowances, new { @class = "form-control", type = "number", step = "0.01" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.Deductions)</th>
            <td>
                @Html.TextBoxFor(model => model.Deductions, new { @class = "form-control", type = "number", step = "0.01" })
            </td>
        </tr>

        <tr>
            <th>@Html.LabelFor(model => model.PaymentDate)</th>
            <td>
                @Html.TextBoxFor(model => model.PaymentDate, new { @class = "form-control", type = "date" })
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-warning">Update</button>
                <a href="@Url.Action("Index", "Payroll")" class="btn btn-secondary">Cancel</a>
            </td>
        </tr>
    </table>
}